/* Estilos para el recuadro de información */
#recuadro-info {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
    z-index: 1000;
    text-align: center;
}

#recuadro-info .imagen-info {
    width: 100%;
    height: auto;
    display: block;
}

.franja-nombre {
    position: absolute; /* Permite posicionar la franja sobre la imagen */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    box-sizing: border-box; /* Asegura que el padding no desborde el ancho */
}